<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b9b8c9">  <td>20/11/08 18:57:13</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestAutomationFile.Preconditions()[pri:0, instance:persadoproject.TestAutomationFile@574b560f]">&gt;&gt;Preconditions</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@926434463</td>   <td></td> </tr>
<tr bgcolor="b9b8c9">  <td>20/11/08 18:57:06</td>   <td>-7309</td> <td>&nbsp;</td><td title="&gt;&gt;TestAutomationFile.launchBrowser()[pri:0, instance:persadoproject.TestAutomationFile@574b560f]">&gt;&gt;launchBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@926434463</td>   <td></td> </tr>
<tr bgcolor="b9b8c9">  <td>20/11/08 18:57:26</td>   <td>13117</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestAutomationFile.priceVerification()[pri:0, instance:persadoproject.TestAutomationFile@574b560f]">priceVerification</td> 
  <td>main@926434463</td>   <td></td> </tr>
<tr bgcolor="b9b8c9">  <td>20/11/08 18:57:36</td>   <td>22496</td> <td>&nbsp;</td><td title="&lt;&lt;TestAutomationFile.terminateBrowser()[pri:0, instance:persadoproject.TestAutomationFile@574b560f]">&lt;&lt;terminateBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@926434463</td>   <td></td> </tr>
</table>
